#container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#track {
    min-width: 386px;
    height: 100vh;
    // // background-image: url("../img/road_track-01.svg");
    // background-position: left;
    // background-repeat: no-repeat;
    // background-size: 100% 100%;
}

#Layer {
    height: 100%;
    position: absolute;
    bottom: 0;
}

#car1 {
    // position: absolute;
    // left: 10%;
    animation: movement 5s linear forwards;
}

#car2 {
    left: 27%;
    animation: movement 3s linear forwards;
}

#car3 {
    left: 58%;
    animation: movement 6s linear forwards;
}

#car4 {
    left: 77%;
    animation: movement 2s linear forwards;
}

@keyframes movement {
    to {
        transform: translateY(-100%)
    }
}

// @media only screen and(max-width:768px) and(min-width:)