#container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#track {
    height: 100vh;
}

#Layer {
    height: 100%;
    position: absolute;
    bottom: 0;
}

#car1 {
    animation: movement 5s linear forwards;
}

#car2 {
    animation: movement 3s linear forwards;
}

#car3 {
    animation: movement 6s linear forwards;
}

#car4 {
    animation: movement 2s linear forwards;
}

#car5 {
    animation: movement 4s linear forwards;
}

#car6 {
    animation: movement 3s linear forwards;
}

@keyframes movement {
    to {
        transform: translateY(-100%)
    }
}